.error-page-container::before {
  background-image: url("../../assets/stachudj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -500px -60px;
  filter: blur(6px);
  height: calc(100vh - 75px);
  content: "";
  display: block;
  background-position: right;
}

.error-page-content {
  position: absolute;
  right: 100px;
  top: 100px;
  text-align: right;
}

@media (max-width: 700px) {
  .error-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    text-align: center;
  }
}
