@font-face {
  font-family: 'Candice';
  src: url('assets/Candice_woff2.woff') format('woff2');
  src: url('assets/Candice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("assets/bajeroland-2019.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
}

.root2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 600px) {
  .container {
      width: 100%;
  }
}

.white-text {
  color: white;
}

h1 {
  font-family: 'Candice', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

p {
  text-align: center;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: cyan;
}